
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.layout {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

.right-layout {
  margin-left: 200px;
}
.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  text-align: center;
  margin-right: 20px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}
.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-header {
  background: #fff;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
  margin-top: 64px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  text-align: center;
}

nz-footer {
  text-align: center;
}